<h1>Все автомобили</h1> 
<h3>@Model.CurrentCategory </h3>
<div class="row mt-5 mb-2">
	@{
	foreach (var item in Model.AllCars )
	{
		<div class="col-lg-4">
			<img class="img-thumbnail" src=@item.Img alt="No Image Yet" />
			<h2>Модель:@item.Name </h2>
			<p>@item.ShortDescription</p>
			<p> Цена: @item.Price.ToString("c")</p>
			<p><a class="btn btn-warning" href="#">Подробнее</a></p>
		</div>
		}
	}
</div>  