
<h3 class="mb-2">@Model.CurrentCategory </h3>
@if (Model.CurrentCategory=="")
{
	<h3>Все автомобили</h3>
}
<div class="row mt-5 mb-2">
	@{
		foreach (Car item in Model.AllCars)
		{
			@Html.Partial("AllCars", item)
		}
	}
</div>  